<md-sidenav-container>
    <md-sidenav #sidenav mode="side" opened="false">
        <md-list>
            <md-list-item>
                <a md-button [routerLink]="['teams']" >Teams</a>
            </md-list-item>
            <md-list-item>
                <a md-button [routerLink]="['players-index']" >Players Index</a>
            </md-list-item>
            <md-list-item>
                <a md-button [routerLink]="['standings']" >Standings</a>
            </md-list-item>
        </md-list>
    </md-sidenav>

    <div class="page-content">
        <a md-button (click)="sidenav.toggle()" >Menu</a>


        <div class="container">
            <router-outlet></router-outlet>
        </div>
    </div>
</md-sidenav-container>
