html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    background-color: #f5f5f5;

    .container p {
        margin: 20px 0;
    }
}

.page-content {
    margin: 5px 0 10px;
}

html, body, material-app, md-sidenav-container, .page-content {
    margin: 0;
    width: 100%;
    height: 100%;
}
